
.dashboard-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 130px;
}

  .dashBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    max-width: 550px;
    background-color: #000;
    border-radius: 30px ;
    border: none;
    padding: 20px ;
    

  }
  
  .dashboard-button {
    min-width: 200px;
    max-width: 500px;
    min-height: 100px;
    max-height: 150px;
    height: auto;
    margin: auto;
    font-size: 20px;
    font-weight: 600;
    background-color: #000;
    border-radius: 30px;
    border: 5px solid #ffffff;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  
  
  .dashboard-button:hover {
    transform: scale(1.05);
    border:10px solid #000;
    background-color: white;
    color: #000;
  }
  @media(max-width:2800px) {
    .dashBtn{
      min-width: 400px;
      max-width: 450px;
        margin: 0 auto;
    }
    
    .dashboard-button {
        min-width: 370px;
        max-width: 390px;
      font-size: 18px;
    }
    .Menu-items button{
      min-width: 150px;
      max-width: 200px;
    }
  }

@media (max-width: 991px) {
  .dashBtn{
      min-width: 250px;
      max-width: 300px;
      margin: 0 auto;
  }
  
  .dashboard-button {
      min-width: 220px;
      max-width: 250px;
    font-size: 18px;
  }
  .Menu-items button{
    min-width: 150px;
    max-width: 200px;
  }
}
@media (min-width: 991px) and (max-width:1199px) {
  .dashBtn{
    min-width: 300px;
    max-width: 350px;
      margin: 0 auto;
  }
  
  .dashboard-button {
      min-width: 270px;
      max-width: 290px;
    font-size: 18px;
  }
  .Menu-items button{
    min-width: 150px;
    max-width: 200px;
  }
}
  
 @media (min-width: 576px) and (max-width: 768px) {
    .dashBtn{
      min-width: 240px;
      max-width: 250px;
      margin: auto;
    }
    
    .dashboard-button {
      min-width: 200px;
      max-width: 220px;
      font-size: 16px;
    }
    .Menu-items button {
      min-width: 173px;
      max-width: 180px;
      font-size: 16px;
  }
  }
   
  @media(min-width: 426px) and (max-width: 576px) {
    .dashBtn{
        min-width: 200px !important;
        max-width: 250px;
        margin: 0 auto;
    }
    
    .dashboard-button {
        min-width: 150px;
        max-width: 200px;
      font-size: 16px;
    }
    .Menu-items button {
      min-width: 173px;
      max-width: 180px;
  }
  } 
@media (max-width: 425px) {
    .btn-container {
        flex-direction: column;
        align-items: center; 
        padding-top: 50px; 
    }
}




